@page
@model LocalPhoneAdmin.Areas.State.Pages.IndexModel

@using Microsoft.AspNetCore.Identity
@using LocalPhoneDomain.Areas.Identity.Data

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <h3>All states</h3>
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color text-right">
            <p>
                Find by State:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </form>
    <form id="createNewForm" class="form-inline">
        <button id="createNew" type="submit" asp-page="Create" class="btn btn-primary">Create New</button>
    </form>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.StateModel[0].Name)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.AbbreviationSort" asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.StateModel[0].Abbreviation)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.CountrySort" asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.StateModel[0].IdCountry)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StateModel)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abbreviation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.Nicename)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    var prevDisabled = !Model.StateModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.StateModel.HasNextPage ? "disabled" : "";

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.StateModel.CurrentPageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.StateModel.CurrentPageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
}