@page
@model LocalPhoneAdmin.Areas.Users.Pages.DeleteModel

@using Microsoft.AspNetCore.Identity
@using LocalPhoneDomain.Areas.Identity.Data

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>User informations</h4>
        <hr />
        <dl class="row">
            
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserModel.Firstname)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserModel.Firstname)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserModel.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserModel.LastName)
            </dd>            
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserModel.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserModel.Email)
            </dd>
            
        </dl>

        <form method="post">
            <input type="hidden" asp-for="UserModel.Email" />
            <input asp-for="UserModel.Firstname" class="form-control" type="hidden" />
            <input asp-for="UserModel.LastName" class="form-control" type="hidden" />
            <input asp-for="UserModel.Email" class="form-control" type="hidden" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
}